<template name="monitorHelp.html">
  <div class="monitor-help">
    <div class="monitor-help-monitors">
      <p>
        Monitors are small <em>Node.js</em> scripts that run periodically.
      </p>
      <p>
        They can execute shell commands either locally or on remote servers.
      </p>
      <p>
        Their return values are auto sync'ed to your dashboards.
      </p>
      <p>
        Monitors are <em>stored only on local disk</em>.
      </p>
    </div>

    <div class="monitor-help-servers">
      <p>
        Servers are remote machines that you want to monitor.
      </p>
      <p>
        Remonit accesses them via <em>SSH</em>, and runs monitors on them.
      </p>
      <p>
        Servers are <em>stored only on local disk</em>, too.
      </p>
    </div>
  </div>
</template>
